.titulo-página {
  text-align: center;
  font-family: "Nunito";
  font-size: 50px;
}
.Nombre-del-país {
  text-align: center;
  font-family: "Mansalva";
  font-size: 45px;
  color: MidnightBlue;
}
.explicaciondia1 {
  text-align: justify;
  font-size: 20px;
  font-family: "Rubik";
}
.Dias {
  text-align: center;
  font-family: "Mansalva";
}
#imghotel {
  width: 700px;
  height: 300px;
  text-align: center;
}
.hotel {
  text-align: center;
  font-family: "Rubik";
  font-size: 26px;
}
#imgvuelo {
  width: 800px;
  height: 300px;
}
.Billete {
  text-align: center;
  font-family: "Rubik";
  font-size: 25px;
}

.textobillete {
  font-family: "Rubik";
  font-size: 20px;
  text-align: center;
}
.textohotel {
  font-family: "Rubik";
  font-size: 20px;
  text-align: center;
}
#timessquare {
  width: 550px;
  height: 308px;
}
.Presupuesto {
  font-family: "Rubik";
  font-size: 18px;
  text-align: center;
}
table,th,td {
  border: 1px solid white;
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
}
.Resumen {
  font-size: 20px;
}
.enlace {
  text-align: justify;
  font-size: 20px;
}
body {
  background-image: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 40px;
}
